<form class="container" [formGroup]="userForm" (ngSubmit)="submit()">

    <div class="user">
        <div class="form-group">
            <label for="userName">User name:</label>
            <input type="text" formControlName="userName" />
        </div>

        <div class="form-group">
            <label>Roles:</label>
            <button *ngFor="let userRole of this.userForm.value.userRoles" type="button"
                (click)="removeRoleFromUser(userRole)" class="removeRoleButton">
                {{userRole.name}}
            </button>
        </div>

        <button [disabled]="userForm.invalid" class="saveButton" type="submit">Save</button>
    </div>

    <div class="rolesPool">
        <label for="roles">Choose roles: </label>
        <div *ngFor="let role of roles$ |async">
            <div *ngIf="showRoleButton(role)">
                <div *ngIf="role.id !== editedRoleId">
                    <button class="addRoleButton" type="button" (click)="addRoleToUser(role)">{{role.name}}</button>
                    <button class="editRoleButton" type="button" (click)="editeRole(role)">Edit</button>
                </div>

                <app-change-role *ngIf="role.id === editedRoleId" (saved)="savedRole()"></app-change-role>
            </div>
        </div>
        <app-add-role></app-add-role>
    </div>

</form>