* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center
}

.rolesPool {
    display: inline-block;
    margin-left: 15px;
}

.addRoleButton {
    background-color: rgb(175, 227, 227);
    width: 150px;
    height: 25px;
    margin-top: 10px;
}

.editRoleButton {
    width: 50px;
    height: 25px;
    margin-left: 5px;
}

.user {
    display: inline-block;
    max-width: 20%;
}

.removeRoleButton {
    background-color: rgb(175, 227, 227);
    padding: 2px 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.saveButton {
    background-color: rgb(135, 227, 135);
    width: 50px;
    height: 25px;
    margin-top: 15px;
}