<div id="header">
    <button (click)="saveUser()">Save</button>
</div>
<div *ngIf="user">
    <div id="sidebar" class="container">
        <div *ngFor="let role of roles">
            <button *ngIf="showAddRoleButton(role)" (click)="addRoleToUser(role)">{{role.name}}</button>
        </div>
        <app-add-role></app-add-role>
    </div>
    <div id="main" class="container">
        <label>User name:</label>
        <input type="text" [(ngModel)]="user.userName" />
        <div>
            <label>Roles:</label>
            <div *ngFor="let userRole of user.userRoles">
                <button (click)="removeRoleFromUser(userRole)">{{userRole.name}}</button>
            </div>
        </div>
    </div>
</div>