* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
display: flex;
flex-direction: column;
align-items: center;
}

thead{
  background-color: rgb(243, 243, 243)
}

th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.deletebutton {
  background-color: rgb(233, 116, 116);
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.editbutton {
  background-color: rgb(111, 207, 242);
  width: 30px;
  height: 30px;
}

.addbutton{
  background-color: rgb(135, 227, 135);
  font-size: 15px;
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}