* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
display: flex;
flex-direction: column;
align-items: center;
}

.head{
  background-color: rgb(243, 243, 243);
}

.body th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgb(220, 218, 218);
  margin-left: 5px;
  margin-right: 5px;
}

.role {
  background-color:rgb(175, 227, 227);
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

.deleteButton {
  background-color: rgb(233, 116, 116);
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.editButton {
  width: 30px;
  height: 30px;
}

.addUserButton{
  background-color: rgb(135, 227, 135);
  font-size: 15px;
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}